/*mainColor #ffaaa5;
hoverColor #ff8b94;
accentColor #a5e3cc;
accentHover #dcedc1;
textColor #777;*/

/*main fonts font-family: 'Raleway', sans-serif;*/

@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
    height: 100%;
    /*background: rgb(255,199,199);*/
    background: url(Images/background.jpeg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Raleway', sans-serif;
    padding-top: 100px;
}
.wrapper {
    width: 60%;
    max-width: 800px;
    margin: 0 auto;
    background: rgb(213,230,230);
    border-radius: 10px;
    padding: 50px 60px 65px 30px;
    border: 2px solid #fff;
    box-shadow: 1px 1px 10px #fff;
}
input,
textarea {
    outline: none;
    border: 1px solid #fff;
}
.inp-reg {
    border-radius: 30px;
    width: 99%;
    height: 50px;
    margin: 10px;
    font-size: 17px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    background: #fff;
}
.inp-reg:invalid {
    border: 1px solid red;
}
.registration-form {
    width: 99%;
    margin: 0 auto;
    padding: 0px 10px 20px 10px;
}
.submit-form {
    height: 50px;
    background: #aea3ff;
    border-radius: 30px;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    text-align: center;
    padding: 15px;
    box-sizing: border-box;
    float: right;
    margin-right: -24px;
    color: #fff;
    margin-top: 5px;
}
.submit-form:hover {
    margin-right: -30px;
    background: #aea3ff;  
    cursor: pointer;
    border-right: 4px solid #fff;
    color: #fff;
    box-sizing: border-box;
}
.back-buttom {
    height: 50px;
    width: 70px;
    background: #aea3ff;
    border-radius: 30px;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    text-align: center;
    padding: 15px;
    box-sizing: border-box;
    float: left;
    margin-left: 1%;
    color: #fff;
    margin-top: 5px;
}
.back-buttom:hover {
    margin-left: 0;
    background: #aea3ff;  
    cursor: pointer;
    border-left: 4px solid #fff;
    color: #fff;
    box-sizing: border-box;
    margin-top: 5px;
}
.download-line {
    border: 2px solid #fff;
    border-radius: 10px;
    padding: 2px;
    display: flex;
    width: 30%;
    margin-left: 3%;
}
.line1 {
    height: 10px;
    width: 33.3333%;
    background: #aea3ff;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.line2 {
    height: 10px;
    width: 33.3333%;
    background: #aea3ff;
}
.line3 {
    height: 10px;
    width: 33.3333%;
    background: #aea3ff;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.show-data-from-forms>li {
    list-style: none;
    font-size: 19.6px;
}