.class1{
    width: 100px;
    height: 100px;
    background-color: palevioletred;
    padding-top: 20px;
    box-sizing: border-box;
    margin: 300px auto;
    border: 3px solid blue;
    border-radius: 50%;
}