@keyframes change-color {
  0% {
    margin-top: 200vh ;
  }

  100% {
    margin-top: 10vh;
  }
}

.calc-wrapper {
  width: 500px;
  height: 80vh;
  min-height: 500px;
  margin: 10vh auto;
  background: #444;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  flex: 20;
  animation-name: change-color;
  animation-duration: 1s;
  transition: 1s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.input-field {
  margin: 20px auto 5px auto;
  width: 90%;
  flex: 3;
  outline: none;
  box-sizing: border-box;
  border-radius: 20px;
  border: none;
  font-size: 30px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: end;
}
.buttons-wrapp {
  display: flex;
  margin: 0px auto 20px auto;
  width: 90%;
  flex: 17;
  /*background: #fff;*/
  flex-wrap: wrap;
}
.number-button {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  flex-basis: 24.1%;
  margin: 2px;
  height: 24.1%;
  border-radius: 45px;
  background: #999;

  box-sizing: border-box;
  font-size: 40px;
}
.number-button:hover {
  cursor: pointer;
  background-color: white;
}
